services:
  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --maxmemory 5mb --maxmemory-policy allkeys-lru --maxmemory-samples 10

volumes:
  redis_data: